nav
{
    width:100%;
    height: 120px;
    margin-top: auto;
    line-height: 90px;
    position: fixed;
    background: linear-gradient(#778d94,#5e6d71);
    text-shadow: #0f0d0c;
    text-shadow: #ffffff;
}

html
{background-image: url(cpu.gif);}
.Image0{
    padding-top:90px;
    height: 50%;
    padding-left: 0px;
    margin-top: 2%;
    background-repeat: no-repeat;
}

.lumine{
padding-top:0px;
height: 250px;
margin-right: auto;
float: center;
padding-left: 350px;
}

.aether
{
    padding-top:0px;
    height: 250px;
    padding-left: 0px;
    align-self: center;
    float: center;
}
.Image1{
    padding-top:90px;
    height: 40%;
    padding-left: 650px;
    margin-top: 2%;
}

.active 
{
    font-style: italic;
    font-size: x-large;

}
a:hover {
    background-color: rgb(67, 67, 67)
}
.container1 p
{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    overflow: visible;
}

nav ul{
    float:right;
    overflow: hidden;
    width: auto;
    position:relative;
}
ul {
    position: -webkit-sticky;
    position: sticky;
    top: -160;
  }
nav li{
    display: inline-block;
    list-style: none;
}
nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 30px 30px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    overflow: visible;
}
nav li a:hover{
    color: #0f0d0c;
    transition: all 0.4s ease 0s;
}



.H1
{ 
    letter-spacing: 1.5px;
    padding-top:3px;
    font-size:40px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #ffffff;
    border-style: solid;
    margin-top: 5%;
}

.H2
{ 
    letter-spacing: 1.5px;
    padding-top:110px;
    font-size:40px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #ffffff;
}

.Myhobby
{
    letter-spacing: 1.5px;
    font-size:40px;
    padding-top: 2px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #ffffff;
    border-style: solid;
    border-radius: 50px;
    margin-left: 600px;
    margin-right: 90px;
}

.HobbyDefinition
{
    letter-spacing: 1.5px;
    font-size:40px;
    padding-top: 2px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #ffffff;
    border-style: solid;
    border-radius: 50px;
    margin-left: 400px;
    margin-right: 90px;
}

.Paragraph
{
    letter-spacing: 1.5px;
    font-size:40px;
    padding-top: 2px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #ffffff;
    border-style: solid;
    border-radius: 50px;
    margin-left: 600px;
    margin-right: 90px;
}

.Image2{
    padding-top:105px;
    height: 300px;
    padding-left: 600px;
    align-self: center;
    float: center;
}

.container3{
    letter-spacing: 1.5px;
    padding-top:2px;
    padding-left: 60px;
    font-size:30px;
    text-align:center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    text-shadow: #0f0d0c;
    border-color: aliceblue;
}

.container4
{
    letter-spacing: 1.5px;
    padding-top: 100px;
    font-size:40px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    padding-left: 0px;
}

.friend1
    {
        letter-spacing: 1.5px;
        font-size:40px;
        padding-top: 2px;
        text-align: center;
        color:rgb(255, 255, 255);
        font-weight:bold;
        border-bottom: #0f0d0c;
        border-style: solid;
        border-radius: 50px;
        margin-left: 90px;
        margin-right: 90px;
        padding-right: 350px;
    }

.magabiplop
{padding-top:0px;
    height: 20%;
    padding-left: 350px;
    float: left;}

.friend2
    {
        letter-spacing: 1.5px;
    font-size:40px;
    padding-top: 2px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #0f0d0c;
    border-style: solid;
    border-radius: 50px;
    margin-left: 90px;
    margin-right: 90px;
    padding-right: 350px;
    }
.rolan
{
    padding-top:0px;
    height: 20%;
    padding-left: 350px;
    float: left;
}

.friend3{
    letter-spacing: 1.5px;
    font-size:40px;
    padding-top: 2px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight:bold;
    border-bottom: #0f0d0c;
    border-style: solid;
    border-radius: 50px;
    margin-left: 90px;
    margin-right: 90px;
    padding-right: 350px;
}

.DM
    {
        padding-top:0px;
        height: 20%;
        padding-left: 350px;
        float: left;  
    }
.Elden
{
    padding-top:0px;
    height: 250px;
    padding-left: 0px;
    align-self: center;
    float: center;
}

.Redbrand
{
    padding-top:0px;
    height: 250px;
    padding-left: 0px;
    align-self: center;
    float: center;
}

.Fontaine
{
    padding-top:0px;
    height: 250px;
    padding-left: 0px;
    align-self: center;
    float: center;
}

.Mysubjects
{
        letter-spacing: 1.5px;
        font-size:40px;
        padding-top: 100px;
        text-align: center;
        color:rgb(255, 255, 255);
        font-weight:bold;
        border-bottom: #ffffff;
        border-style: solid;
        border-radius: 50px;
        margin-left: 90px;
        margin-right: 90px;
    
}

.SubjectTable th,td
{
        font-size:70px;
        text-align: center;
        color:rgb(255, 255, 255);
        font-weight:bold;
        border-bottom: #ffffff;
        border-style: solid;
        border-collapse:  collapse;
        margin-left: 90px;
        margin-right: 90px;
        border-bottom: 1px solid #ddd;
        width: 90%;
        height: 90%;
}

.kazuha
    {
        height : 10%;
    }

.ccslogo
{
    height:70%;
}

.ualogo
{
    height: 70%;
}